.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.navbar{
	margin-bottom: 0px;
	font-size: 1.5em;
	border-radius: 0px;
}

body{
	font-family: "Comic Sans MS", cursive, sans-serif;

}

.cursor {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

#about_me{
	background-image: url("../../images/brick.jpg");
	color:white;
	min-height:500px;
	font-size: 1.5em;
	margin:0px;
	padding-top:10px;
}

#my_education{
	background-image: url("../../images/education.jpg");
	color:black;
	min-height:500px;
	font-size: 1.5em;
	margin:0px;
	padding-top:10px;
}

#edu_inst{
	min-height: 300px;
	background-color: yellow;
	border:3px solid black;
	border-radius: 10px;
	cursor:pointer;
	padding:15px;
}

@keyframes shake_inst {
    0%   {-webkit-transform:rotate(0deg);}
    15%  {-webkit-transform:rotate(10deg);}
    30%  {-webkit-transform:rotate(0deg);}
    45%  {-webkit-transform:rotate(-10deg);}
    60% {-webkit-transform:rotate(0deg);}
    70% {-webkit-transform:rotate(5deg);}
    80% {-webkit-transform:rotate(0deg);}
    90% {-webkit-transform:rotate(-5deg);}
    100% {-webkit-transform:rotate(0deg);}
}

#edu_inst:hover{
	-webkit-animation: shake_inst 1s linear 0s  alternate;
}

#tech_skills{
	background-image: url("../../images/skills.jpg");
	color:white;
	min-height:500px;
	font-size: 1.5em;
	margin:0px;
	padding-top:50px;
}

[id|='skill']{
	border:3px solid black;
	background-color: green;
	border-radius: 30px;
	padding:5px 10px;
	height:75px;
	margin-top:20px;
}

@keyframes shake_skill1{
	0%   {top:0px;}
    20%  {top:0px;}
    25%  {top:97px;}
    45%  {top:97px;}
    50%   {top:194px;}
    70%  {top:194px;}
    75%  {top:291px;}
    95%  {top:291px;}
    100% {top:0px;}
}

#skill-1{
	-webkit-animation: shake_skill1 4s linear infinite;
}

@keyframes shake_skill2{
	0%   {top:0px;}
    20%  {top:0px;}
    25%  {top:-97px;}
    45%  {top:-97px;}
    50%   {top:194px;}
    70%  {top:194px;}
    75%  {top:97px;}
    95%  {top:97px;}
    100% {top:0px;}
}

#skill-2{
	-webkit-animation: shake_skill2 4s linear infinite;
}

@keyframes shake_skill3{
	0%   {top:0px;}
    20%  {top:0px;}
    25%  {top:97px;}
    45%  {top:97px;}
    50%   {top:-194px;}
    70%  {top:-194px;}
    75%  {top:-97px;}
    95%  {top:-97px;}
    100% {top:0px;}
}

#skill-3{
	-webkit-animation: shake_skill3 4s linear infinite;
}

@keyframes shake_skill4{
	0%   {top:0px;}
    20%  {top:0px;}
    25%  {top:-97px;}
    45%  {top:-97px;}
    50%   {top:-194px;}
    70%  {top:-194px;}
    75%  {top:-291px;}
    95%  {top:-291px;}
    100% {top:0px;}
}

#skill-4{
	-webkit-animation: shake_skill4 4s linear infinite;
}

#contact_me{
	background-image: url("../../images/contact.jpg");
	color:black;
	min-height:500px;
	font-size: 1.5em;
	margin:0px;
	padding-top:10px;
}

#topad{
 	display: none;
 	position: fixed;
 	bottom:10px;
 	right:30px;
 	border: 3px solid black;
 	background-color: skyblue;
 	width:70px;
 	padding: 5px;
 	color: black;
 	font-size: 1.1em;
 	border-radius: 35px;
 	z-index:100000;
 	cursor: pointer;
 }

 #worked_places{
	background-image: url("../../images/work.jpg");
	color:black;
	min-height:500px;
	font-size: 1.5em;
	margin:0px;
	padding-top:10px;
}

#work_place{
	margin-top:20px;
}

#my_projects{
	background-image: url("../../images/projects.jpg");
	color:black;
	min-height:500px;
	font-size: 1.5em;
	padding-top:10px;
}

#project{
	background-color: #ffc107;
	border:3px solid black;
	border-radius: 50px;
	cursor: pointer;
	margin-bottom:30px;
	padding: 10px;
}

[class|='animated']{
	width: 20px;
	height:20px;
	position:absolute;
	border-radius: 10px;
	z-index: 10000000;
    
}

hr{
	color:black;
}